.login-form {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.6;
  background-size: 100% 100%;
  position: fixed;

  #topLogo {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;

    #logo {
      margin-top: 1em;
      margin-right: 1.5em;
      width: 383px;
      height: 59.5px;
    }
  }

  .wrapper {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    #emailInput,#passwordInput{
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
    }
  }

  #welcome {
    color: #FFFFFF;
    font-size: 70px;
    height: 180px;
  }

  .welcome {
    display: block;
    margin-bottom: 0.3em;
  }

  .email-group{
    position: relative;
  }
  .password-group{
    position: relative;
  }
  .password-group>img{
    position: absolute;
    right: 10px;
    top: 5px;
    border: 0;
  }

  .input-form {
    color: #85CAB0;
  }

  .inputLine {
    display: block;
    margin: 0;
    background-color: transparent;
    border: 1px solid #85CAB0;
    height: 30px;
    width: 350px;
    padding: 0.5em;
    border-radius: 5px;
    color:#ffffff;
  }

  .inputLine.active{
    border: 1px solid red;
  }

  .Input-label{
    display: block;
    opacity: 1;
    color: white;
    width: 5em;
    margin-top: 0.5em;
  }

  .notice {
    display: block;
    font-size: 1px;
    width: 5em;
    margin-top: 0.5em;
  }

  .warning{
    display: block;
    font-size: 2px;
    width: auto;
    margin-top: 0.5em;
    color: red;
    font-weight: bold;
  }

  #emailInput {
    margin-top: 3em;
  }

  #passwordInput {
    margin-top: 3em;
  }

  .iconfont{
    display: block;
    height: 50px;
    width: 50px;
    color:#ffffff;
  }


  input::placeholder {
    color: #85CAB0;
  }

  .actions {
    margin-top: 3em;

    #loginButton {
      border: 2px;
      background-color: #85CAB0;
      color: black;
      font-weight: bold;
      border-radius: 3px;
      padding: 0.5em 2em;
      margin: 2em auto 0;
    }

    #signupButton {
      border: 3px solid white;
      background-color: transparent;
      color: white;
      font-weight: bold;
      border-radius: 3px;
      padding: 0.5em 2em;
      margin: 2em auto 0;
    }
  }

}